
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background-color: #fff;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    margin-top: 1px;
    margin-bottom: 1px;
}
body {
    background-color:  #F3F4F6;
    margin: 1px;
}
.logo img {
    height: 60px;
    width: auto;
    margin-right: 50px;
    margin-left: 180px;
}

nav li:last-child {
    margin-right: 0px;
}

nav li a {
    color: #333;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    transition: all 0.2s ease-in-out;
}

nav li a:hover {
    color: #666;
}

nav .user {
    margin-left: auto;
}

nav .user a {
    color: #333;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    
}

nav .user a:hover {
    color: #666;

}
/* Styling untuk menu utama */
nav ul {
    margin-right: 160px;
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
}

nav li {
    margin-right: 10px;
    position: relative;
}

nav a {
    color: #333;
    text-decoration: none;
    font-weight: bold;
    font-size: 25px;
    transition: all 0.2s ease-in-out;
    margin-right: 900px;
}



nav ul li a {
    margin-right: 10px;
}
.user-menu .sub-menu {
    top: 100%;
    left: 0;
    z-index: 999;
    width: 85px;
    height: 20px;
    display: none; /* Sub menu default tersembunyi */
    position: absolute; /* Mengatur posisi sub menu */
    background-color: #fefefe;
    padding: 10px;
    border: 1px solid #888;
    border-radius: 5px;
    cursor: pointer;
    align-items: center;
    filter: drop-shadow(0px 2px 5px rgba(0, 0, 0, 0.25));
}

.user-menu.active .sub-menu {
    display: block;
    color: inherit; /* Mewarisi warna teks dari elemen induk */
    text-decoration: none; /* Menghapus garis bawah */
    font-weight: 600;
    cursor: pointer;
}

.user-menu {
    position: relative;
}


#icon {
    margin-left: 300px;
    margin-bottom: 5px;
}



#titiktiga {
    float: right;
}

/* Styling untuk sub menu */
.submenu {
    width: 85px;
    height: 20px;
    display: none; /* Sub menu default tersembunyi */
    position: absolute; /* Mengatur posisi sub menu */
    background-color: #fefefe;
    padding: 10px;
    border: 1px solid #888;
    border-radius: 5px;
    
    align-items: center;
    filter: drop-shadow(0px 2px 5px rgba(0, 0, 0, 0.25));
  }
  .submenu a {
    color: inherit; /* Mewarisi warna teks dari elemen induk */
    text-decoration: none; /* Menghapus garis bawah */
    font-weight: 600;
  }

  
  /* Styling untuk ikon */
  .icon {
    cursor: pointer;
  }
#greet {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: bold;
    font-size: 21px;
    line-height: 38px;
    display: flex;
    align-items: center;

}

#judul {
    width: 220px;
    height: 32px;
    margin-right: 10px;
    background: rgba(217, 217, 217, 0.5);
    border-radius: 11px;
    padding: 5px;
    display: flex;
    align-items: center;
    padding-left: 10px;
    margin-top: 15px;
    

    
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 38px;
    display: flex;
    align-items: center;

    color: #000000;
}

#judul svg {
    margin-right: 10px;
    /* Atur jarak antara ikon dan teks */
}



#kuisioner {

    background-color: white;
    width: 1020px;
    border-radius: 11px;
    height: auto;
    margin: 10px auto auto;
    padding: 10px;
    box-shadow: 0 0 2px rgba(0,0,0,.25);
    margin-bottom: 70px;
    font-weight: bold;
    
}

#container {

    background-color: white;
    width: 1000px;
    border-radius: 11px;
    height: auto;
    margin: 60px auto auto;
    padding: 20px ;
    box-shadow: 0 0 2px rgba(0,0,0,.25);
   
}
.container {
    display: flex;
    height: auto;
    width: auto;
   
}

.kiri {
    display: flex;
    width: 50%;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
    text-align: left;
}

.kanan {
    display: flex;
    width: 50%;
      
}

#alamat {
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word; 
}


#jarak {
    padding-left: 60px;
}

td {
    padding-bottom: 16px;
    font-size: 18px;
    font-family: 'Nunito';
    font-style: normal;
    padding-left: 10px;
}
* {
    font-family: 'Nunito', sans-serif;
}


  
  


  